# Pliki obiektowe (kompilacja pośrednia)
*.o

# Pliki wykonywalne (executables)
main
main_vfork
child
cos
program1
program2
client
server
zadanie1
zadanie2
zadanie3
# Pliki tymczasowe macOS
.DS_Store

# Pliki wyjściowe Twojego programu
output.txt